.user-auth {
  display: flex;
}

.user-auth-info {
  flex-grow: 1;
  margin: auto 0;
}

.user-auth-info i {
  vertical-align: text-bottom;
}
.user-auth-info span {
  margin-left: 0.3em;
}

.user-auth-actions {
  flex-shrink: 0;
  margin: auto 0;
}

.user-auth-actions button {
  padding: 0.15em 0.7em;
  border: none;
  font: inherit;
  font-size: 75%;
}
.user-auth-actions button span {
  margin-right: 0.3em;
  vertical-align: middle;
}
.user-auth-actions button i {
  vertical-align: middle;
}
